@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
.animate-fadein {
  animation: fadein 0.8s ease;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(120deg, #fcd34d 0%, #fbbf24 100%);
  border-radius: 8px;
} 